[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==10.5.0"
requests = "*"
setuptools = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
