MARIADB_AUTO_UPGRADE=1
MARIADB_INITDB_SKIP_TZINFO=1
MARIADB_AUTO_UPGRADE=1
MARIADB_DISABLE_UPGRADE_BACKUP=1

MARIADB_ROOT_PASSWORD={{ secrets.MARIADB_ROOT_PASSWORD }}
MARIADB_DATABASE=matomo
MARIADB_USER=matomo
MARIADB_PASSWORD={{ secrets.MARIADB_MATOMO_PASSWORD }}