version: '3'

services:
  mariadb:
    image: mariadb:{{ mariadb_version }}
    command: --max-allowed-packet=64MB
    restart: unless-stopped
    stop_grace_period: 30s
    env_file:
      - ./db.env
    volumes:
      - mariadb:/var/lib/mysql
      - ./mariadb/dump:/home/mariadb/dump
      - ./mariadb/init:/docker-entrypoint-initdb.d # Place init .sql file(s) here.
{% for i in range(matomo_container_instances) %}
  matomo_{{ i }}:
    image: matomo:fpm
    restart: unless-stopped
    links:
      - mariadb
    volumes:
      - matomo:/var/www/html
{% endfor %}
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - matomo:/var/www/html
      # see https://github.com/matomo-org/matomo-nginx
      - ./nginx-conf/matomo.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
  matomo-fpm-cron:
    image: matomo:fpm-alpine
    restart: unless-stopped
    entrypoint: "sh -c 'while true; do php console core:archive --url=https://{{ matomo_hostname }}/; sleep 600; done'"
    depends_on:
    {% for i in range(matomo_container_instances) %}
      - matomo_{{ i }}
    {% endfor -%}
    links:
    {% for i in range(matomo_container_instances) %}
      - matomo_{{ i }}
    {% endfor %}
      - mariadb
    volumes:
      - matomo:/var/www/html
volumes:
  mariadb:
  matomo: