MATOMO_DATABASE_HOST="mariadb"
MATOMO_DATABASE_ADAPTER="mysql"
MATOMO_DATABASE_TABLES_PREFIX="matomo_"
MATOMO_DATABASE_DBNAME="matomo"
MATOMO_DATABASE_USERNAME="matomo"
MATOMO_DATABASE_PASSWORD={{ secrets.MARIADB_MATOMO_PASSWORD }}